.dropdown-menu {
				 background-color: #343a40 !important; 
				 }

.dropdown-item {
				color: #fff !important;
				}

.navbar { 
	border-bottom: 1px solid #1ecf11 !important;

	.dropdown-menu {
				left: -320% !important;
				}
		}

.ascii {
	display: inline-block;
	font-family: monospace !important;
	letter-spacing: -0.2em;
	line-height: 0.8em;
	color: rgba(30, 207, 17) !important;
}

.selector-grid{
	.card {
		background:rgba(30, 207, 17, 0.1) !important;
	}
	.card:hover {
		background:rgba(30, 207, 17, 0.4) !important;
		border: 1px solid #fff !important;
	}
}

.main{
	height:100% !important;
}