.machine-list{
  thead{
    border-bottom: 1px solid #fff !important;
  }
  tbody{
  
  }
  table{
    width: 600px !important;
    border:1px solid #fff;
    background:$primary-trans;
    table-layout: fixed;
  }

  .icon{
    width: 1.5em;
  }

  .btn{
    color: #000;
  }

}

.ctf-list{
    thead{
    border-bottom: 1px solid #fff !important;
  }
  tbody{
  
  }
  table{
    border:1px solid #fff;
    background:$primary-trans;
    table-layout: fixed;
  }

  .icon{
    width: 1.5em;
  }


  .btn-primary{
    width: 3rem;
    height: 2.6rem;
    border: 1px solid #fff;
  }
  .btn-secondary{
    width: 3rem;
    height: 2.6rem;
    border: 1px solid #fff;
  }
}

.table{
  .option-cluster{
    width: 20em;
  }
}

.main-list{
  thead{
    border-bottom: 1px solid #fff !important;
  }
  tbody{
  
  }
  table{
    border:1px solid #fff;
    background:$primary-trans;
    table-layout: fixed;
  }

  .id{
    width: 2em;
  }

  .add-del{
   width: 6em;
  }

  .bell{
    width: 5em;
  }

  .class{
    width: 20rem !important;
  }

  .name{
   width: 12em;
  }

  .edit{
    width: 8em;
  }

  .ref-section{
   max-width: 1000px;
   width: 1000px;
  }

  .btn-default{
    background: #1ecf11;
    
  }
}

.double{
  max-width: 2000px !important;
}
